@import 'variables';

.portfolio{
    text-align: center;
    width: 100%;
    .container1{
        width: 100%;
        .main-text{
            color: red;
        }
        span{
            color: #000;
        }
        .filter-buttons{
            margin: 2rem;
            text-align: center;
        }
        .filter-buttons .btn{
            background: none;
            outline: none;
            border: none;
            cursor: pointer;
            font-size: .85rem;
            font-weight: 600;
            letter-spacing: .4px;
            margin-left: 1.3rem;
            color: red;
        }
    }
    
}