@import 'variables';

.home{
    margin-top: 90px;
    padding: 30px 15px;
}

.caracteristicas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    .section--title-home{
        font-size: 2rem;
        text-align: center;
        color:$quaternary-color;
    }

}

.hero-carousel{
    width: 100%;
    max-width: max-content;
}



@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px #13990a;
    }
    100% {
      box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
  }


.aside-social{
    right: 0;
    position: fixed;
    margin: 180px 30px;
    z-index: 200;
    .aside-social_wssp{
        transform: translatey(0px);
        animation: float 4s ease-in-out infinite;
        a{  
            display: flex;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            animation: pulse-animation 2s infinite;
            img{
                width: 60px;
                height: 60px;
                &:hover{
                    transform: scale(1.2);
                    transition: .5s;
                }
            }
        }
    }
}

.us--section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
    max-width: 1200px;
    width: 100%;
    .us-container{
        width: 100%;
        .us-content{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-around;
            align-items: center;
            .us-text{
                 max-width: 600px;
                 text-align: justify;
                // margin: 30px 0;
                font-size: 1.4rem;
                color: $secondary-color;
                @media screen and (max-width: $breakpoint-md){
                    font-size: 1.1rem;
                    max-width: 300px;
                }
            }
            .us-img{
                width: 420px;
                margin: 15px;
                //media query
                @media screen and (max-width: $breakpoint-md){
                    width: 300px;
                }
            }
    
        }
    }


}