
//colors
$primary-color:#e6e9f2;
$secondary-color:rgb(4, 9, 38);
$tertiary-color:#fff;
$quaternary-color:#000;
$quinary-color:#e6f1f2;


//breakpoints 
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

//fonts
$primary-font: Roboto Slab, serif;   
$secundary-font: Open Sans, sans-serif;
