@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
body {
  background-repeat: no-repeat;
  background-color: #e6e9f2;
  background-size: cover;
  color: #333;
  font-family: Roboto Slab, serif;
  scroll-behavior: smooth;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  justify-content: center;
  position: relative;
  align-content: center;
  z-index: 10;
  max-width: 1260px;
  margin: 30px 0;
}

footer {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 10;
  padding: 0 15px;
  width: 100%;
}

h2, h3, h4, h5, h6, p {
  margin: 0;
}

.header {
  display: flex;
  position: fixed;
  justify-content: space-around;
  width: 100%;
  height: 90px;
  align-items: center;
  z-index: 30;
}

@media screen and (max-width: 768px) {
  .header {
    justify-content: space-between;
  }
}

.header .nav--elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  z-index: 50;
}

@media screen and (max-width: 768px) {
  .header .nav--elements {
    width: 100%;
    background-color: #040926;
  }
}

.header .nav--elements .nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
}

.header .nav--elements .nav-logo img {
  width: 180px;
  height: 60px;
}

.header .nav--elements .burger {
  display: none;
  cursor: pointer;
  padding: 0 15px;
}

@media screen and (max-width: 768px) {
  .header .nav--elements .burger {
    display: block;
  }
}

.header .nav--elements .burger img {
  width: 30px;
  height: 30px;
}

.header .nav--menu {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  height: 10vh;
  color: #fff;
  font-family: Roboto Slab, serif;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 30;
}

.header .nav--menu .nav--list {
  display: flex;
  justify-content: flex-end;
  padding: 0px;
}

@media screen and (max-width: 768px) {
  .header .nav--menu .nav--list {
    position: fixed;
    top: -20%;
    right: 0px;
    left: 0px;
    margin: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: #040926;
    transition: top 1s;
    flex-direction: column;
  }
}

.header .nav--menu .nav--list .nav-item {
  list-style: none;
  padding: 15px;
  cursor: pointer;
}

.header .nav--menu .nav--list .nav-item:hover {
  color: #040926;
}

.header .nav--menu .nav--list .nav-item a {
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .header .nav--menu .nav--list .nav-item a {
    color: #e6e9f2;
  }
}

.header .nav--menu .toggle {
  top: 90px;
}

footer {
  background-color: #040926;
  color: #fff;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .footer__list {
  display: block;
  text-align: center;
  margin: 0 15px;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}

footer .footer__list li {
  display: inline-block;
  margin: 0 10px;
}

footer .footer__list li a {
  color: #fff;
  text-decoration: none;
}

footer .footer__list li a:hover {
  color: #000;
}

footer .footer__copy {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.home {
  margin-top: 90px;
  padding: 30px 15px;
}

.caracteristicas {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.caracteristicas .section--title-home {
  font-size: 2rem;
  text-align: center;
  color: #000;
}

.hero-carousel {
  width: 100%;
  max-width: max-content;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px #13990a;
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}

.aside-social {
  right: 0;
  position: fixed;
  margin: 180px 30px;
  z-index: 200;
}

.aside-social .aside-social_wssp {
  transform: translatey(0px);
  animation: float 4s ease-in-out infinite;
}

.aside-social .aside-social_wssp a {
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  animation: pulse-animation 2s infinite;
}

.aside-social .aside-social_wssp a img {
  width: 60px;
  height: 60px;
}

.aside-social .aside-social_wssp a img:hover {
  transform: scale(1.2);
  transition: .5s;
}

.us--section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  max-width: 1200px;
  width: 100%;
}

.us--section .us-container {
  width: 100%;
}

.us--section .us-container .us-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.us--section .us-container .us-content .us-text {
  max-width: 600px;
  text-align: justify;
  font-size: 1.4rem;
  color: #040926;
}

@media screen and (max-width: 768px) {
  .us--section .us-container .us-content .us-text {
    font-size: 1.1rem;
    max-width: 300px;
  }
}

.us--section .us-container .us-content .us-img {
  width: 420px;
  margin: 15px;
}

@media screen and (max-width: 768px) {
  .us--section .us-container .us-content .us-img {
    width: 300px;
  }
}

.contactos {
  width: 100%;
}

.contactos .contacto-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  width: 60%;
}

.contactos .contacto-container .contacto-img {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.contactos .contacto-container .contacto-img img {
  width: 420px;
}

.contactos .contacto-container-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  width: 40%;
}

.contactos .contacto-container-info .contacto-item {
  font-size: 1.2rem;
  margin: 15px;
  padding: 15px;
  border: 2px solid #000;
  border-radius: 15px;
  width: 100%;
}

.contactos .contacto-container-info .contacto-item i::before {
  margin-right: 15px;
}

.contactos .contacto-container-info h1 {
  font-size: 3rem;
  margin: 0;
  margin-bottom: 30px;
}

.caracteristicas--cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  color: #040926;
}

.caracteristicas--cards .caracteristicas--card-item {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px #040926;
  margin: 15px;
  padding: 15px;
  width: 300px;
}

.caracteristicas--cards .caracteristicas--card-item .card--tittle {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.caracteristicas--cards .caracteristicas--card-item h3 {
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: #000;
}

.caracteristicas--cards .caracteristicas--card-item p {
  font-size: 1rem;
  margin-bottom: 15px;
}

.caracteristicas--cards .caracteristicas--card-item a {
  background-color: #040926;
  border-radius: 5px;
  color: #fff;
  display: block;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
}

.caracteristicas--cards .caracteristicas--card-item a:hover {
  background-color: #000;
}

.crossCursor {
  cursor: url("img/crosshair.png"), auto !important;
  z-index: 2;
}

.cursor {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  background: white;
  z-index: 99;
  pointer-events: none;
}

.cursor-follow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  background: transparent;
  border: 1px solid white;
  z-index: 99;
  pointer-events: none;
}

.exhibition-card {
  position: relative;
}

.exhibition-card .card-icon {
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: var(--bg-white);
  width: 40px;
  height: 40px;
  border-radius: var(--radius-circle);
  color: var(--bg-smoky-black);
  display: grid;
  place-items: center;
}

/**
   * ABOUT
   */
.tab-btn-list {
  display: flex;
  flex-wrap: wrap;
}

.tab-btn-item {
  width: 50%;
  flex-grow: 1;
}

.tab-btn-item:nth-child(2n) {
  border-inline-start: 1px solid var(--border-eerie-black);
}

.tab-content {
  padding: 40px;
}

.about-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.interview-card {
  max-width: max-content;
  margin-inline: auto;
}

/**
   * ABOUT
   */
.tab-btn-item {
  width: 20%;
}

.tab-btn-item:not(:first-child) {
  border-inline-start: 1px solid var(--border-eerie-black);
}

:is([data-tab-content="interview"], [data-tab-content="exhibition"]) .grid-list {
  grid-template-columns: 1fr 1fr;
}

@media (min-width: 1200px) {
  /**
   * ABOUT
   */
  .tab-content .grid-list {
    grid-template-columns: 1fr 1fr;
  }
  :is([data-tab-content="interview"], [data-tab-content="exhibition"], [data-tab-content="awward"]) .grid-list {
    grid-template-columns: repeat(3, 1fr);
  }
  /**
   * ABOUT
   */
  .tab-content {
    padding: 60px;
  }
  .tab-content .grid-list {
    gap: 50px;
  }
}

.content {
  position: relative;
  width: 100%;
}

.contact-form form {
  margin: 0;
  padding: 1em;
}

.contact-form {
  position: absolute;
  top: 14em;
  left: 79em;
  padding: 50px 55px;
  border-radius: 20px;
  text-align: center;
  width: 540px;
  box-shadow: 0 0 50px rgba(1, 0, 0, 0.2);
  border-radius: 20px;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: 0;
  border-bottom: 1px solid #d63031;
}

.contact-form form button {
  background: #d63031;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.mySlides > h1 {
  text-align: left;
  letter-spacing: 55px;
}

/*-----*/
.mySlides {
  display: none;
  gap: 50px;
}

img {
  vertical-align: middle;
  background-size: 100% 100%;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  grid-template-columns: repeat(2, 50%);
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 50px;
  position: absolute;
  top: 5em;
  left: 5em;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px;
  }
  .dot {
    height: 10px;
    width: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .prev, .next, .text {
    font-size: 14px;
  }
}

.spantext {
  color: black;
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}

.input-box {
  position: relative;
}

.input-box > input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  outline: none;
  border: 3px solid transparent;
  letter-spacing: 1px;
  transition: .3s;
  color: #fff;
}

.input-box > input::placeholder,
.input-box > textarea::placeholder {
  color: #a3a3a3;
}

.input-box > input:focus::placeholder,
.input-box > textarea:focus::placeholder {
  color: transparent;
}

.input-box > input:focus,
.input-box > textarea:focus {
  border-bottom: 3px solid crimson;
  animation: shake .2s;
}

.input-box > textarea {
  width: 100%;
  height: 130px;
  padding: 10px;
  border: 3px solid transparent;
  letter-spacing: 1px;
  outline: none;
  transition: .3s;
  color: #fff;
  letter-spacing: 1.5px;
}

.input-box > i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  color: rgba(0, 0, 0, 0.3);
  transition: .3s;
}

.input-box > input:focus ~ i {
  color: #0941a9;
}

form > button {
  width: 100%;
  padding: 10px;
  outline: none;
  background: #0941a9;
  color: #000000;
  border: none;
  transition: .1s;
  cursor: pointer;
  font-size: 1rem;
}

form > button:hover,
.links > a:hover {
  background: #ac102f;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/
.h6 {
  font-size: var(--fontSize-6);
}

.title {
  color: var(--text-white);
  font-family: var(--fontFamily-recoleta);
  font-weight: var(--weight-regular);
}

.tab-container {
  border: 1px solid var(--border-eerie-black);
}

.tab-btn {
  width: 100%;
  padding-block: 16px;
  border-block-end: 1px solid var(--border-eerie-black);
  transition: var(--transition-1);
}

.tab-btn:is(:hover, :focus-visible, .active) {
  background: var(--bg-eerie-black);
}

.tab-content {
  display: none;
  padding: 30px;
}

.tab-content.active {
  display: block;
  animation: fade 500ms linear forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tab-content .grid-list {
  display: grid;
  gap: 30px;
}

.tab-content .section-title {
  margin-block-end: 30px;
}

.tab-content .section-text,
.about-item:not(:last-child) {
  margin-block-end: 20px;
}

.about-item .span {
  line-height: 1.4;
}

.social-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.social-link {
  color: var(--text-white);
}

.skill-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 30px 12px;
}

.skill-wrapper .span {
  font-family: var(--fontFamily-recoleta);
  font-weight: var(--weight-medium);
}

.progress-bar {
  background-color: var(--bg-smoky-black);
  height: 4px;
}

.progress-fill {
  background-color: var(--bg-white);
  height: 100%;
}

.interview-card {
  position: relative;
}

.interview-card .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  justify-content: center;
  border-radius: var(--radius-circle);
  color: var(--text-smoky-black);
}

.interview-card .btn::before,
.interview-card .btn::after {
  border-radius: inherit;
}

.interview-card .btn::before {
  background-color: var(--bg-white);
}

.interview-card .btn:is(:hover, :focus-visible) {
  color: var(--text-white);
}

.servicios-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.servicios-container .servicios-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
  margin: 30px 0;
}

.servicios-container .servicios-list .servicios-item {
  padding: 15px;
  width: 180px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 15px;
}

.servicios-container .servicios-list .servicios-item:hover {
  transform: scale(1.2);
  transition: .5s;
}

.servicios-container .servicios-list .servicios-item .servicios-title {
  font-size: 1.2rem;
  margin: 0px;
}

.servicios-container .servicios-list .servicios-item .servicios-img {
  width: 90px;
}

.servicios-container .servicios-list .servicios-item .servicios-description {
  font-size: .8rem;
  text-align: center;
  margin: 5px 0;
}
